Package: me.jjolano.hkmodule.fishhook
Name: HookKit Module (fishhook)
Depends: me.jjolano.fmwk.hookkit (>= 1.0.0), me.jjolano.fmwk.hookkit (<< 2.0.0)
Version: 1.0.1
Architecture: iphoneos-arm
Description: This module provides fishhook library support for HookKit Framework.
Maintainer: jjolano
Author: jjolano
Section: HookKit (Modules)
