Package: me.jjolano.hkmodule.substrate
Name: HookKit Module (Cydia Substrate)
Pre-Depends: me.jjolano.fmwk.hookkit
Depends: mobilesubstrate
Version: 1.0.8
Architecture: iphoneos-arm
Description: This module provides the Cydia Substrate API for HookKit Framework.
Maintainer: jjolano
Author: jjolano
Section: HookKit (Modules)
