Package: me.jjolano.fmwk.hookkit
Name: HookKit Framework
Depends: firmware (>= 5.0.0), me.jjolano.fmwk.modulous (>= 1.0.0), me.jjolano.fmwk.modulous (<< 2.0.0)
Recommends: me.jjolano.hkmodule.ellekit | me.jjolano.hkmodule.libhooker | me.jjolano.hkmodule.substitute | me.jjolano.hkmodule.substrate, me.jjolano.hkmodule.fishhook
Version: 1.0.0
Architecture: iphoneos-arm64
Description: An iOS developer framework for unified hooking methods.
Maintainer: jjolano
Author: jjolano
Section: Development
Tag: role::developer
