<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>en</string>
    <key>CFBundleDisplayName</key><string>Roothider Runner</string>
    <key>CFBundleExecutable</key><string>RoothiderRunner</string>
    <key>CFBundleIdentifier</key><string>me.jjolano.shadow.test.roothider</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>RoothiderRunner</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleURLTypes</key>
    <array><dict><key>CFBundleURLSchemes</key><array><string>shadow-detector-roothider</string></array></dict></array>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>LSApplicationQueriesSchemes</key>
    <array><string>cydia</string><string>sileo</string><string>zbra</string><string>filza</string><string>dopamine</string><string>palera1n</string><string>shadow-detectors</string><string>shadow-detector-roothider</string></array>
    <key>UILaunchScreen</key><dict/>
    <key>UIDeviceFamily</key><array><integer>1</integer></array>
    <key>UISupportedInterfaceOrientations</key>
    <array><string>UIInterfaceOrientationPortrait</string><string>UIInterfaceOrientationLandscapeLeft</string><string>UIInterfaceOrientationLandscapeRight</string></array>
</dict>
</plist>
