[submodule "Modules/fishhook.bundle/vendor/fishhook"]
	path = Modules/fishhook.bundle/vendor/fishhook
	url = https://github.com/facebook/fishhook.git
[submodule "vendor/Modulous.framework"]
	path = vendor/Modulous.framework
	url = https://github.com/jjolano/Modulous.git
[submodule "vendor/RootBridge.framework"]
	path = vendor/RootBridge.framework
	url = https://github.com/jjolano/RootBridge.git
