Package: com.jjolano.shadow
Name: Shadow
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: jjolano
Author: jjolano
Section: Tweaks
