Package: me.jjolano.shadow
Name: Shadow
Depends: firmware (>= 7.0), mobilesubstrate, com.rpetrich.rocketbootstrap, dpkg
Version: 3.0.0-alpha.3
Architecture: iphoneos-arm
Description: A modern jailbreak detection bypass for jailbroken iOS.
Maintainer: jjolano
Author: jjolano
Section: System
