Package: me.jjolano.hkmodule.substitute
Name: HookKit Module (Substitute)
Depends: me.jjolano.fmwk.hookkit (>= 1.0.0), me.jjolano.fmwk.hookkit (<< 2.0.0), com.ex.substitute
Version: 1.0.1
Architecture: iphoneos-arm
Description: This module provides the Substitute API for HookKit Framework.
Maintainer: jjolano
Author: jjolano
Section: HookKit (Modules)
