Package: me.jjolano.hkmodule.fishhook
Name: HookKit Module (fishhook)
Version: 1.0.5
Architecture: iphoneos-arm64
Description: This module provides fishhook library support for HookKit Framework.
Maintainer: jjolano
Author: jjolano
Section: HookKit (Modules)
