<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Shadow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Bypass Version</string>
			<key>get</key>
			<string>aboutBypassVersion:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>API Version</string>
			<key>get</key>
			<string>aboutAPIVersion:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Software License</string>
			<key>get</key>
			<string>aboutSoftwareLicense:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Developer</string>
			<key>get</key>
			<string>aboutDeveloper:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code (GitHub)</string>
			<key>url</key>
			<string>https://github.com/jjolano/shadow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Buy me a Coffee (Ko-fi)</string>
			<key>url</key>
			<string>https://ko-fi.com/jjolano</string>
		</dict>
	</array>
	<key>title</key>
	<string>About</string>
</dict>
</plist>
