<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Essential Hooks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_Filesystem</string>
			<key>id</key>
			<string>Hook_Filesystem</string>
			<key>label</key>
			<string>File System</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_DynamicLibraries</string>
			<key>id</key>
			<string>Hook_DynamicLibraries</string>
			<key>label</key>
			<string>Loaded Modules</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_URLScheme</string>
			<key>id</key>
			<string>Hook_URLScheme</string>
			<key>label</key>
			<string>URL Handlers</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_EnvVars</string>
			<key>id</key>
			<string>Hook_EnvVars</string>
			<key>label</key>
			<string>Environment Variables</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Recommended Hooks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_FilesystemExtra</string>
			<key>id</key>
			<string>Hook_FilesystemExtra</string>
			<key>label</key>
			<string>File System (Extra)</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_CollectionClasses</string>
			<key>id</key>
			<string>Hook_CollectionClasses</string>
			<key>label</key>
			<string>Collection Classes</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_BundleClass</string>
			<key>id</key>
			<string>Hook_BundleClass</string>
			<key>label</key>
			<string>NSBundle Class</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_StringClass</string>
			<key>id</key>
			<string>Hook_StringClass</string>
			<key>label</key>
			<string>NSString Class</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_URLClass</string>
			<key>id</key>
			<string>Hook_URLClass</string>
			<key>label</key>
			<string>NSURL Class</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_DataClass</string>
			<key>id</key>
			<string>Hook_DataClass</string>
			<key>label</key>
			<string>NSData Class</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_ImageClass</string>
			<key>id</key>
			<string>Hook_ImageClass</string>
			<key>label</key>
			<string>UIImage Class</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_FakeMac</string>
			<key>id</key>
			<string>Hook_FakeMac</string>
			<key>label</key>
			<string>Device Masquerade (iOS 14+)</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extra Hooks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_DeviceCheck</string>
			<key>id</key>
			<string>Hook_DeviceCheck</string>
			<key>label</key>
			<string>Device App Attest</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_MachBootstrap</string>
			<key>id</key>
			<string>Hook_MachBootstrap</string>
			<key>label</key>
			<string>Mach Service Lookups</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_SymLookup</string>
			<key>id</key>
			<string>Hook_SymLookup</string>
			<key>label</key>
			<string>Runtime Symbol Lookups</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_LowLevelC</string>
			<key>id</key>
			<string>Hook_LowLevelC</string>
			<key>label</key>
			<string>Low-Level File Handles</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_AntiDebugging</string>
			<key>id</key>
			<string>Hook_AntiDebugging</string>
			<key>label</key>
			<string>Anti-Debugging Methods</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_DynamicLibrariesExtra</string>
			<key>id</key>
			<string>Hook_DynamicLibrariesExtra</string>
			<key>label</key>
			<string>Loaded Modules (Extra)</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_ObjCRuntime</string>
			<key>id</key>
			<string>Hook_ObjCRuntime</string>
			<key>label</key>
			<string>Runtime Class Lookups</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
	</array>
</dict>
</plist>
