<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Global Settings</string>
			<key>footerText</key>
			<string>Always attempts to bypass jailbreak detection in all apps by default. Has no effect if overrided by per-app settings.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Global_Enabled</string>
			<key>id</key>
			<string>Global_Enabled</string>
			<key>label</key>
			<string>Always-On</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Shadow allows fine-tuning of jailbreak detection bypass functions. Not needed in most cases, unless a specific hook is causing apps to crash.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>key</key>
			<string>Link_Global_Hooks</string>
			<key>id</key>
			<string>Link_Global_Hooks</string>
			<key>detail</key>
			<string>SHDWHooksListController</string>
			<key>isController</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
			<key>label</key>
			<string>Customize Hooks (Advanced)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Application Settings</string>
			<key>footerText</key>
			<string>Per-app settings will override global settings, if enabled.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>ATLApplicationListSubcontrollerController</string>
			<key>subcontrollerClass</key>
			<string>SHDWAppListController</string>
			<key>label</key>
			<string>Applications</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>useSearchBar</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>key</key>
			<string>Btn_Respring</string>
			<key>id</key>
			<string>Btn_Respring</string>
			<key>action</key>
			<string>respring:</string>
			<key>label</key>
			<string>Restart SpringBoard</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>key</key>
			<string>Btn_ResetSettings</string>
			<key>id</key>
			<string>Btn_ResetSettings</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset Settings</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>This will reset all settings for Shadow.</string>
				<key>title</key>
				<string>Reset Settings</string>
				<key>okTitle</key>
				<string>Reset Settings</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>key</key>
			<string>Link_About</string>
			<key>id</key>
			<string>Link_About</string>
			<key>detail</key>
			<string>SHDWAboutListController</string>
			<key>isController</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
			<key>label</key>
			<string>About</string>
		</dict>
	</array>
	<key>title</key>
	<string>Shadow</string>
</dict>
</plist>
