Package: me.jjolano.hkmodule.dobby
Name: HookKit Module (Dobby)
Depends: me.jjolano.fmwk.hookkit
Version: 1.0
Architecture: iphoneos-arm
Description: This module provides Dobby library support for HookKit Framework.
Maintainer: jjolano
Author: jjolano
Section: HookKit (Modules)
