<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Shadow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Bypass Version</string>
			<key>get</key>
			<string>aboutBypassVersion:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Service Version</string>
			<key>get</key>
			<string>aboutAPIVersion:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Build Date</string>
			<key>get</key>
			<string>aboutBuildDate:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Software License</string>
			<key>get</key>
			<string>aboutSoftwareLicense:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Updates</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Package Version</string>
			<key>get</key>
			<string>aboutPackageVersion:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Latest Version</string>
			<key>get</key>
			<string>aboutLatestVersion:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Developer</string>
			<key>get</key>
			<string>aboutDeveloper:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>key</key>
			<string>Btn_GitHub</string>
			<key>id</key>
			<string>Btn_GitHub</string>
			<key>action</key>
			<string>openGitHub:</string>
			<key>label</key>
			<string>Visit Shadow on GitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>key</key>
			<string>Btn_Kofi</string>
			<key>id</key>
			<string>Btn_Kofi</string>
			<key>action</key>
			<string>openKofi:</string>
			<key>label</key>
			<string>Send a Tip with Ko-fi</string>
		</dict>
	</array>
	<key>title</key>
	<string>About</string>
</dict>
</plist>
