<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Application Settings</string>
			<key>footerText</key>
			<string>Enables bypass settings for this application.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>App_Override</string>
			<key>id</key>
			<string>App_Override</string>
			<key>label</key>
			<string>Enable App Settings</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string> </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>App_Enabled</string>
			<key>id</key>
			<string>App_Enabled</string>
			<key>label</key>
			<string>Enable Shadow</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
	</array>
</dict>
</plist>
