<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bypass Settings</string>
			<key>footerText</key>
			<string>Some tweaks require apps to have full access to some jailbreak resources. Not needed in most cases.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Tweak_CompatEx</string>
			<key>id</key>
			<string>Tweak_CompatEx</string>
			<key>label</key>
			<string>Tweak Compatibility</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enhances bypass capabilities by operating outside of the app sandbox.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Use_Service</string>
			<key>id</key>
			<string>Use_Service</string>
			<key>label</key>
			<string>Use Shadow Service</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Essential Hooks</string>
			<key>footerText</key>
			<string>Essential hooks cover the most common jailbreak detection methods.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_Filesystem</string>
			<key>id</key>
			<string>Hook_Filesystem</string>
			<key>label</key>
			<string>File System</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_DynamicLibraries</string>
			<key>id</key>
			<string>Hook_DynamicLibraries</string>
			<key>label</key>
			<string>Loaded Modules</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_URLScheme</string>
			<key>id</key>
			<string>Hook_URLScheme</string>
			<key>label</key>
			<string>URL Handlers</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_EnvVars</string>
			<key>id</key>
			<string>Hook_EnvVars</string>
			<key>label</key>
			<string>Environment Variables</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Recommended Hooks</string>
			<key>footerText</key>
			<string>Recommended hooks cover additional methods which may be used by jailbreak detection.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_DeviceCheck</string>
			<key>id</key>
			<string>Hook_DeviceCheck</string>
			<key>label</key>
			<string>Detection Frameworks</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_FilesystemExtra</string>
			<key>id</key>
			<string>Hook_FilesystemExtra</string>
			<key>label</key>
			<string>File System (Extra)</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_Foundation</string>
			<key>id</key>
			<string>Hook_Foundation</string>
			<key>label</key>
			<string>Foundation Framework</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_FakeMac</string>
			<key>id</key>
			<string>Hook_FakeMac</string>
			<key>label</key>
			<string>M1 Mac (iOS 14+)</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extra Hooks</string>
			<key>footerText</key>
			<string>Extra hooks cover even more methods that may be used by jailbreak detection, including private APIs.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_MachBootstrap</string>
			<key>id</key>
			<string>Hook_MachBootstrap</string>
			<key>label</key>
			<string>Mach Service Lookups</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_SymLookup</string>
			<key>id</key>
			<string>Hook_SymLookup</string>
			<key>label</key>
			<string>Runtime Symbol Lookups</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_AntiDebugging</string>
			<key>id</key>
			<string>Hook_AntiDebugging</string>
			<key>label</key>
			<string>Anti-Debugging Methods</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_ObjCRuntime</string>
			<key>id</key>
			<string>Hook_ObjCRuntime</string>
			<key>label</key>
			<string>Runtime Class Lookups</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_Syscall</string>
			<key>id</key>
			<string>Hook_Syscall</string>
			<key>label</key>
			<string>Private Syscalls</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dangerous Hooks</string>
			<key>footerText</key>
			<string>Low-level bypass methods. These hooks may cause some apps to crash.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_Sandbox</string>
			<key>id</key>
			<string>Hook_Sandbox</string>
			<key>label</key>
			<string>Enforce Sandbox</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_LowLevelC</string>
			<key>id</key>
			<string>Hook_LowLevelC</string>
			<key>label</key>
			<string>Low-Level File Handles</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_Memory</string>
			<key>id</key>
			<string>Hook_Memory</string>
			<key>label</key>
			<string>Hide Executable Memory</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_TweakClasses</string>
			<key>id</key>
			<string>Hook_TweakClasses</string>
			<key>label</key>
			<string>Hide Tweak Classes</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>Hook_DynamicLibrariesExtra</string>
			<key>id</key>
			<string>Hook_DynamicLibrariesExtra</string>
			<key>label</key>
			<string>Dynamic Library Loader</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
	</array>
</dict>
</plist>
