<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bypass Options</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>

		<!-- Application List -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Application Options</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Applications</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/me.jjolano.shadow.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>Select apps to include/exclude</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>mode</string>
			<key>default</key>
			<string>blacklist</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>validValues</key>
			<array>
				<string>blacklist</string>
				<string>whitelist</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Blacklist Mode</string>
				<string>Whitelist Mode</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Blacklist Mode</string>
				<string>Whitelist Mode</string>
			</array>
		</dict>

		<!-- Advanced Settings -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Advanced Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>exclude_system_apps</string>
			<key>label</key>
			<string>Exclude Apple and jailbreak apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>dyld_array_enabled</string>
			<key>label</key>
			<string>Generate clean dyld array</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>private_methods</string>
			<key>label</key>
			<string>Hook private methods</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>workaround_access</string>
			<key>label</key>
			<string>access() workaround (Substrate)</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Changes are applied on next app launch. Workarounds will reduce bypass effectiveness, but may be necessary due to how some tweaks are loaded.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>Shadow</string>
</dict>
</plist>
