<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Shadow Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Shadow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>exclude_system_apps</string>
			<key>label</key>
			<string>Disable Shadow for Safe Apps</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Shadow version 2.0 by jjolano</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring:</string>
			<key>label</key>
			<string>Restart SpringBoard</string>
		</dict>

		<!-- Application List -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Application Settings</string>
			<key>footerText</key>
			<string>Blacklist mode enables Shadow for all except selected apps. Whitelist mode enables Shadow only for selected apps.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Applications</string>
			<key>ALAllowsSelection</key>
			<string>0</string>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/me.jjolano.shadow.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>Select apps to blacklist/whitelist</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>mode</string>
			<key>default</key>
			<string>blacklist</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>validValues</key>
			<array>
				<string>blacklist</string>
				<string>whitelist</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Blacklist Mode</string>
				<string>Whitelist Mode</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Blacklist Mode</string>
				<string>Whitelist Mode</string>
			</array>
		</dict>

		<!-- File Map -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>File Map</string>
			<key>footerText</key>
			<string>File map enhances Shadow's ability to perform path checks by scanning all installed packages. The file map will need to be regenerated when any changes to installed packages are made. Live generation will generate the file map upon application launch, which may increase launch times.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>generate_map:</string>
			<key>label</key>
			<string>Generate File Map</string>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>This will read all installed package files. This may take a while, depending on how many packages are installed.</string>
				<key>title</key>
				<string>Continue</string>
				<key>okTitle</key>
				<string>Continue</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>auto_file_map_generation_enabled</string>
			<key>label</key>
			<string>Live Generation</string>
		</dict>

		<!-- Dynamic Libraries -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dynamic Libraries</string>
			<key>footerText</key>
			<string>Filtering dynamic libraries helps defeat intermediate levels of jailbreak detection. Advanced filters may trigger detection on some apps, and may also be unstable.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>dyld_hooks_enabled</string>
			<key>label</key>
			<string>Enable Filtering</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>dyld_filter_enabled</string>
			<key>label</key>
			<string>Enable Advanced Filters</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dynamic Linker</string>
			<key>footerText</key>
			<string>Advanced jailbreak detection bypass. May be unstable in some apps, causing crashes or other issues.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Filter Dynamic Linker</string>
			<key>ALAllowsSelection</key>
			<string>0</string>
			<key>ALSettingsKeyPrefix</key>
			<string>dlfcn</string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/me.jjolano.shadow.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>Select apps to enable dynamic linker bypass</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
				</dict>
			</array>
		</dict>

		<!-- Sandbox Integrity -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Sandbox Integrity</string>
			<key>footerText</key>
			<string>Attempts to restore original sandbox functionality. Only necessary if apps are able to use methods that are otherwise restricted by the sandbox.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>sandbox_hooks_enabled</string>
			<key>label</key>
			<string>Restore Sandbox</string>
		</dict>

		<!-- Tweak Compatibilty -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweak Compatibility</string>
			<key>footerText</key>
			<string>Compatibility settings will reduce bypass effectiveness. Tweak compatibility mode is enabled by default for all apps. Injection compatibility applies to Substrate. If disabled, Substrate may not load some tweaks properly.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Tweak Compatibility</string>
			<key>ALAllowsSelection</key>
			<string>0</string>
			<key>ALSettingsKeyPrefix</key>
			<string>tweak_compat</string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/me.jjolano.shadow.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>Select apps to disable tweak compatibility</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Injection Compatibility</string>
			<key>ALAllowsSelection</key>
			<string>0</string>
			<key>ALSettingsKeyPrefix</key>
			<string>inject_compat</string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/me.jjolano.shadow.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>Select apps to disable injection compatibility</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
				</dict>
			</array>
		</dict>

		<!-- Lockdown Mode -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lockdown Mode</string>
			<key>footerText</key>
			<string>Lockdown mode will bypass all compatibility options and attempt to hide injected libraries. Tweaks are not guaranteed to be loaded. To ensure full coverage, Dynamic Linker filtering will need to be enabled separately (see caveats).</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Lockdown Mode</string>
			<key>ALAllowsSelection</key>
			<string>0</string>
			<key>ALSettingsKeyPrefix</key>
			<string>lockdown</string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/me.jjolano.shadow.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>Select apps to enable lockdown mode</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
				</dict>
			</array>
		</dict>

		<!-- Footer -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
			<key>footerText</key>
			<string>Shadow is under active development. If this bypass has worked for you, I would greatly appreciate your support through supportive messages and/or donations. I do read every message, and will consider feature requests.

Thank you for using Shadow!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>support_reddit:</string>
			<key>label</key>
			<string>Shadow Release Thread</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>support_github:</string>
			<key>label</key>
			<string>View Source Code</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>support_paypal:</string>
			<key>label</key>
			<string>Donate to Developer</string>
		</dict>
	</array>
	<key>title</key>
	<string>Shadow</string>
</dict>
</plist>
