<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bypass Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Shadow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>exclude_system_apps</string>
			<key>label</key>
			<string>Disable Shadow for Safe Apps</string>
		</dict>

		<!-- Application List -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Application Settings</string>
			<key>footerText</key>
			<string>Blacklist mode enables Shadow for all except selected apps. Whitelist mode enables Shadow only for selected apps.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Applications</string>
			<key>ALAllowsSelection</key>
			<string>0</string>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/me.jjolano.shadow.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>Select apps to include/exclude</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>mode</string>
			<key>default</key>
			<string>blacklist</string>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>validValues</key>
			<array>
				<string>blacklist</string>
				<string>whitelist</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Blacklist Mode</string>
				<string>Whitelist Mode</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Blacklist Mode</string>
				<string>Whitelist Mode</string>
			</array>
		</dict>

		<!-- Advanced Settings -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Advanced Settings</string>
			<key>footerText</key>
			<string>Filtering dynamic libraries helps defeat intermediate levels of jailbreak detection. This setting will eventually become standard as implementation stability is confirmed.

Private methods are undocumented Apple methods that can be used by apps to detect jailbreak status. These methods are probably not allowed to be used by App Store apps anyway.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>dyld_array_enabled</string>
			<key>label</key>
			<string>Filter Dynamic Libraries</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>private_methods</string>
			<key>label</key>
			<string>Hook Private Methods</string>
		</dict>

		<!-- Experimental Settings -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Experimental Settings</string>
			<key>footerText</key>
			<string>Experimental hooks are newly added hooks to Shadow that will eventually become standard. Turn this option off if you encounter issues in apps.

Hooking dlsym() is an advanced form of bypassing jailbreak detection. However, some apps may be sensitive to this hooking and encounter issues such as crashing or freezing.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>experimental_hooks</string>
			<key>label</key>
			<string>Experimental Hooks</string>
		</dict>
		<!--<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>dlsym_hook</string>
			<key>label</key>
			<string>Hook dlsym()</string>
		</dict>-->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Hook dlsym()</string>
			<key>ALAllowsSelection</key>
			<string>0</string>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/me.jjolano.shadow.dlsym.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>Select apps to enable dlsym() hook</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
				</dict>
			</array>
		</dict>

		<!-- Workarounds -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Workarounds</string>
			<key>footerText</key>
			<string>The access() workaround will reduce bypass effectiveness, but may be necessary due to how tweaks are loaded by Substrate (unc0ver). It can safely be disabled for Substitute (Chimera/Electra).</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.jjolano.shadow</string>
			<key>key</key>
			<string>workaround_access</string>
			<key>label</key>
			<string>access() Workaround</string>
		</dict>
	</array>
	<key>title</key>
	<string>Shadow</string>
</dict>
</plist>
