<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>en</string>
    <key>CFBundleDisplayName</key><string>IOSSecuritySuite Runner</string>
    <key>CFBundleExecutable</key><string>IOSSecuritySuiteRunner</string>
    <key>CFBundleIdentifier</key><string>me.jjolano.shadow.test.iossecuritysuite</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>IOSSecuritySuiteRunner</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>SBAppTags</key><array><string>hidden</string></array>
    <key>CFBundleURLTypes</key>
    <array><dict><key>CFBundleURLSchemes</key><array><string>shadow-detector-iossecuritysuite</string></array></dict></array>
    <key>LSApplicationQueriesSchemes</key><array><string>undecimus</string><string>sileo</string><string>zbra</string><string>filza</string><string>dopamine</string><string>palera1n</string></array>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>UILaunchScreen</key><dict/>
    <key>UIDeviceFamily</key><array><integer>1</integer></array>
</dict>
</plist>
