Package: me.jjolano.shadow.beta
Name: Shadow (beta)
Depends: firmware (>= 8.0), mobilesubstrate, preferenceloader, dpkg, com.opa334.altlist, com.opa334.libsandy, me.jjolano.fmwk.hookkit (>= 0.0.5)
Suggests: com.ps.injectionfoundation
Provides: me.jjolano.shadow
Replaces: me.jjolano.shadow
Conflicts: me.jjolano.shadow
Version: 3.5-beta.7
Architecture: iphoneos-arm
Description: A modern jailbreak detection bypass for jailbroken iOS.
Maintainer: jjolano
Author: jjolano
Section: System
