<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ADAPTERS_DESC</string>
			<key>label</key>
			<string>ADAPTERS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Adapter_DeviceCheck</string>
			<key>label</key>
			<string>ADAPTER_DEVICECHECK</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Adapter_FreeRASP</string>
			<key>label</key>
			<string>ADAPTER_FREERASP</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Adapter_DeviceSecurityKit</string>
			<key>label</key>
			<string>ADAPTER_DEVICESECURITYKIT</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Adapter_IOSSecuritySuite</string>
			<key>label</key>
			<string>ADAPTER_IOSSECURITYSUITE</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ADAPTERS_DETECTORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Adapter_DTTJailbreakDetection</string>
			<key>label</key>
			<string>DTTJailbreakDetection</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Adapter_SafeDevice</string>
			<key>label</key>
			<string>safe_device</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Adapter_JailMonkey</string>
			<key>label</key>
			<string>JailMonkey</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
	</array>
	<key>title</key>
	<string>ADAPTERS</string>
</dict>
</plist>
