<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DETECTOR_LOG</string>
			<key>footerText</key>
			<string>DETECTOR_LOG_DESC</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>shareLog:</string>
			<key>label</key>
			<string>SHARE_LOG</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>clearLog:</string>
			<key>label</key>
			<string>CLEAR_LOG</string>
			<key>isDestructive</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>DETECTOR_LOG</string>
</dict>
</plist>