<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PRESET_SELECT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>BypassStatus</string>
			<key>label</key>
			<string>STATUS_HDR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>id</key>
			<string>BypassPreset</string>
			<key>label</key>
			<string>BYPASS_PRESET</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>HK_LIB_DESC</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>id</key>
			<string>HK_Library</string>
			<key>label</key>
			<string>HOOKING_LIBRARY</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>staticTextMessage</key>
			<string>HK_LIB_SELECT</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
			<key>valuesDataSource</key>
			<string>getValues:</string>
			<key>titlesDataSource</key>
			<string>getTitles:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>INDIVIDUAL_HOOKS_DESC</string>
			<key>label</key>
			<string>INDIVIDUAL_HOOKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SHDWIndividualListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>INDIVIDUAL_HOOKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DNGR_HOOKS_DESC</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SHDWDangerousListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>DNGR_HOOKS</string>
		</dict>
	</array>
</dict>
</plist>
