<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ESSENTIAL_HOOKS_DESC</string>
			<key>label</key>
			<string>ESSENTIAL_HOOKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Hook_Filesystem</string>
			<key>label</key>
			<string>HOOK_FILE_SYSTEM</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Hook_URLScheme</string>
			<key>label</key>
			<string>HOOK_URLSCHEME</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Hook_EnvVars</string>
			<key>label</key>
			<string>HOOK_ENVVARS</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>REC_HOOKS_DESC</string>
			<key>label</key>
			<string>REC_HOOKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Hook_DeviceCheck</string>
			<key>label</key>
			<string>HOOK_DETECTFMWK</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Hook_Foundation</string>
			<key>label</key>
			<string>HOOK_FOUNDATION</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>EXTRA_HOOKS_DESC</string>
			<key>label</key>
			<string>EXTRA_HOOKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Hook_MachBootstrap</string>
			<key>label</key>
			<string>HOOK_MACH</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Hook_IOKit</string>
			<key>label</key>
			<string>HOOK_IOKIT</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Hook_AntiDebugging</string>
			<key>label</key>
			<string>HOOK_ANTIDBG</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Hook_Syscall</string>
			<key>label</key>
			<string>HOOK_SYSCALL</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Hook_HideApps</string>
			<key>label</key>
			<string>HOOK_APPENUM</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
	</array>
	<key>title</key>
	<string>INDIVIDUAL_HOOKS</string>
</dict>
</plist>
