<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GLOBAL_SETTINGS</string>
			<key>footerText</key>
			<string>ALWAYS_ON_DESC</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>Global_Enabled</string>
			<key>label</key>
			<string>ALWAYS_ON</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>BYPASS_SETTINGS_DESC</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SHDWHooksListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>BYPASS_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ROOT_APP_SETTINGS</string>
			<key>footerText</key>
			<string>ROOT_APP_SETTINGS_DESC</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SHDWATLController</string>
			<key>subcontrollerClass</key>
			<string>SHDWAppListController</string>
			<key>label</key>
			<string>APPLICATIONS</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Custom</string>
					<key>sectionPredicate</key>
					<string>NOT (atl_bundleIdentifier BEGINSWITH 'com.apple') AND atl_isHidden == NO</string>
				</dict>
			</array>
			<key>useSearchBar</key>
			<true/>
			<key>alphabeticIndexingEnabled</key>
			<true/>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring:</string>
			<key>label</key>
			<string>RESPRING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>RESET</string>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>RESET_PROMPT</string>
				<key>title</key>
				<string>RESET</string>
				<key>okTitle</key>
				<string>RESET</string>
				<key>cancelTitle</key>
				<string>RESET_CANCEL</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SHDWAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ROOT_ABOUT</string>
		</dict>
	</array>
	<key>title</key>
	<string>Shadow</string>
</dict>
</plist>
