<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SAFE_MODE_DESC</string>
			<key>label</key>
			<string>SAFE_MODE</string>
		</dict>
		<dict>
			<key>action</key>
			<string>clearAll:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true/>
			<key>label</key>
			<string>CLEAR_ALL</string>
		</dict>
	</array>
	<key>title</key>
	<string>SAFE_MODE</string>
</dict>
</plist>
