Package: me.jjolano.shadow.beta
Name: Shadow (beta)
Depends: firmware (>= 8.0), mobilesubstrate, dpkg, com.opa334.altlist, com.opa334.libsandy, me.jjolano.fmwk.hookkit (>= 0.1.5), me.jjolano.fmwk.hookkit (<< 2.0.0), me.jjolano.hkmodule.fishhook | me.jjolano.fmwk.hookkit (<< 1.0.0)
Suggests: com.ps.injectionfoundation
Recommends: preferenceloader
Provides: me.jjolano.shadow
Replaces: me.jjolano.shadow
Conflicts: me.jjolano.shadow
Version: 3.6.9
Architecture: iphoneos-arm64
Description: A modern jailbreak detection bypass for jailbroken iOS. Beta version - frequent updates, less stable.
Maintainer: jjolano
Author: jjolano
Section: System
