Package: me.jjolano.shadow.beta
Name: Shadow (dev)
Pre-Depends: dpkg
Depends: firmware (>= 8.0), mobilesubstrate, com.opa334.altlist, com.opa334.libsandy, me.jjolano.fmwk.hookkit (>= 1.0.0), me.jjolano.fmwk.hookkit (<< 2.0.0), me.jjolano.hkmodule.substrate, me.jjolano.fmwk.modulous (>= 1.0.0), me.jjolano.fmwk.modulous (<< 2.0.0)
Suggests: com.ps.injectionfoundation
Recommends: preferenceloader, me.jjolano.hkmodule.fishhook
Provides: me.jjolano.shadow
Replaces: me.jjolano.shadow
Conflicts: me.jjolano.shadow
Version: 3.7.0
Architecture: iphoneos-arm64
Description: A modern jailbreak detection bypass - development version.
Maintainer: jjolano
Author: jjolano
Section: System
