Package: me.jjolano.fmwk.hookkit
Name: HookKit Framework
Depends: firmware (>= 5.0.0), me.jjolano.fmwk.modulous (>= 1.0.0), me.jjolano.fmwk.modulous (<< 2.0.0)
Recommends: me.jjolano.hkmodule.substrate
Version: 1.0.5
Architecture: iphoneos-arm
Description: An iOS developer framework for unified hooking methods.
Maintainer: jjolano
Author: jjolano
Section: Development
Tag: role::developer
